<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{% load static %}
    <link href="{% static '/css/style.css' %}" rel="stylesheet">
        <link href="{% static '/fontawesome/css/all.css' %}" rel="stylesheet">
    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
	<nav class="navbar navbar-dark navbar-expand-sm fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
           <a class="navbar-brand mr-auto" href="/index/"><img src="{% static '/images/logo.jpg' %}" height="30" width="50"></a>
           <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="/index/"><span class="fa fa-home fa-md"></span> Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about/"><span class="fa fa-info fa-md"></span> About</a></li>
                    <li class="nav-item"><a class="nav-link" href="/menu/"><span class="fa fa-list fa-md"></span> Menu</a></li>
                    <li class="nav-item active"><a class="nav-link" href="#"><span class="fa fa-address-card fa-md"></span> Contact</a></li>
                </ul> 
                <span class="navbar-text">
                    <a id="loginbutton">
                    <span class="fa fa-sign-in fa-md"></span> Login</a>
                </span>
           </div>
                           
        </div>
    </nav>

    <header class="jumbotron" id="header">

        <div class="container">
            <div class="row row-header">
                <div class="col-12 col-sm-6">
                    <h1>Family Indian Restaurant</h1>
                    <p>We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations will tickle your culinary senses!</p>
                </div>
                <div class="col-12 col-sm align-self-center">
                    <img src="{% static '/images/logo.jpg' %}" alt="logo" class="img-fluid" width="30%">
                </div>
            </div>
        </div>

    </header>

    <div class="container">
        <div class="row">
            <ol class="col-12 breadcrumb">
                <li class="breadcrumb-item"><a href="/index/">Home</a></li>
                <li class="breadcrumb-item active">Contact Us</li>
            </ol>
            <div class="col-12">
               <h3>Contact Us</h3>
               <hr>
            </div>
        </div>

        <div class="row row-content">
           <div class="col-12">
              <h3>Location Information</h3>
           </div>
            <div class="col-12 col-sm-4 offset-sm-1">
                   <h5>Our Address</h5>
                    <address style="font-size: 100%" id="adrs">
		              121, Clear Water Bay Road<br>
		              Clear Water Bay, Kowloon<br>
		              HONG KONG<br>
		              <i class="fa fa-phone"></i>: +91 987654321<br>
		              <i class="fa fa-fax"></i>: +91 987654321<br>
		              <i class="fa fa-envelope"></i>:
                        <a href="mailto:confusion@food.net">confusion@food.net</a>
		           </address>
            </div>
            <div class="col-12 col-sm-6 offset-sm-1">
                <h5>Map of our Location</h5>
                <a href="https://goo.gl/maps/wAvg1uUizdyLhKku5" target="_blank">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3686.777185505109!2d88.41148951464226!3d22.475005885233156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a0273ce7ff42cf1%3A0x7c93790a28cbf09a!2sJust%20Cook%20Express!5e0!3m2!1sen!2sin!4v1591892891857!5m2!1sen!2sin" width="400" height="300" frameborder="0" style="border:2px solid black;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </a>
            </div>
            <div class="col-12 col-sm-11 offset-sm-1">
                <div class="btn-group" role="group">
                    <a role="button" class="btn btn-primary" href="tel:+91 987654321"><i class="fa fa-phone"></i> Call</a>
                    <a role="button" class="btn btn-info">Skype</a>
                    <a role="button" class="btn btn-success" href="mailto:confusion@food.net"><i class="fa fa-envelope"></i>Email</a>
                </div>
            </div>
        </div>
    </div>


    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-4 offset-1 col-sm-2">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Home</a></li>
                        <li><a href="/about/">About</a></li>
                        <li><a href="/menu/">Menu</a></li>
                        <li><a href="/contact/">Contact</a></li>
                    </ul>
                </div>

                <div class="col-7 col-sm-5" id="address">
                    <h5>Our Address</h5>
                    <address>
                        Jay Ambey Apartments<br>
                        Srinagar, Panchpota, Garia<br>
                        Kolkata, West Bengal, India<br> 
                        <a href="tel:987654321"><i class="fa fa-phone fa-lg"></i>: +91 987654321<br></a>
		                <i class="fa fa-fax fa-lg"></i>: +91 987654321<br>
		                <i class="fa fa-envelope fa-lg"></i>: <a href="mailto:confusion@food.net">confusion@food.net</a>
                    </address>
                </div>

                <div class="col-12 col-sm-4 align-self-center">
                    <div class="text-center" id="testimonials">
                        <p>"The best Indian restaurant I've been to! And that's saying a lot, since I've been to many!"</p>
                        <p>"Amazing food! Great service! Couldn't ask for more! I'll be back again and again!"</p>
                    </div>
                </div>

            </div>
            <div class="row justify-content-center">             
                <div class="col-auto">
                    <p>© Copyright 2020 Family Indian Restaurant</p>
                </div>
           </div>
        </div>
        </div>
    </footer>


    <!-- jQuery (Bootstrap JS plugins depend on it) -->
  <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>