<!DOCTYPE html>
<html>
<head>
	<title>Menu</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{% load static %}
    <link href="{% static '/css/style.css' %}" rel="stylesheet">
        <link href="{% static '/fontawesome/css/all.css' %}" rel="stylesheet">
    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
	<nav class="navbar navbar-dark navbar-expand-sm fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
           <a class="navbar-brand mr-auto" href="/index/"><img src="{% static '/images/logo.jpg' %}" height="30" width="50"></a>
           <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="/index/"><span class="fa fa-home fa-md"></span> Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about/"><span class="fa fa-info fa-md"></span> About</a></li>
                    <li class="nav-item active"><a class="nav-link" href="#"><span class="fa fa-list fa-md"></span> Menu</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact/"><span class="fa fa-address-card fa-md"></span> Contact</a></li>
                </ul> 
                <span class="navbar-text">
                    <a id="loginbutton">
                    <span class="fa fa-sign-in fa-md"></span> Login</a>
                </span>
           </div>
                           
        </div>
    </nav>


    <header class="jumbotron" id="header">

        <div class="container">
            <div class="row row-header">
                <div class="col-12 col-sm-6">
                    <h1>Family Indian Restaurant</h1>
                    <p>We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations will tickle your culinary senses!</p>
                </div>
                <div class="col-12 col-sm align-self-center">
                    <img src="{% static '/images/logo.jpg' %}" alt="logo" class="img-fluid" width="30%">
                </div>
            </div>
        </div>

    </header>

    <div id="main-content" class="container">
      <ol class="col-12 breadcrumb">
        <li class="breadcrumb-item"><a href="/index/">Home</a></li>
        <li class="breadcrumb-item active">Menu</li>
      </ol>
        <h2 id="menu-categories-title" class="text-center">Menu</h2>
        <div class="text-center">
            <p>* Delivery area within 3-4 miles, with minimum order of &#8377;200 plus &#8377;30 charge for all deliveries.</p>
        </div>
    
        <section class="row">
          <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
            <a href="#">
              <div class="category-tile" id="d1">
                <img width="250" height="200" src="{% static '/images/d1.jpg '%}" alt="Lunch">
                <span>Chicken Biryani Combo</span>
              </div>
            </a>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
            <a href="#">
              <div class="category-tile" id="d2">
                <img width="250" height="200" src="{% static '/images/d2.jpg '%}" alt="Lunch">
                <span>Chicken Parantha</span>
              </div>
            </a>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
            <a href="#">
              <div class="category-tile" id="d3">
                <img width="250" height="200" src="{% static '/images/d3.jpg '%}" alt="Lunch">
                <span>Grilled Tandoori Chicken</span>
              </div>
            </a>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
            <a href="#">
              <div class="category-tile" id="d4">
                <img width="250" height="200" src="{% static '/images/d4.jpg '%}" alt="Lunch">
                <span>Veg Fried Rice + Chicken Chilli</span>
              </div>
            </a>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
            <a href="#">
              <div class="category-tile" id="d5">
                <img width="250" height="200" src="{% static '/images/d5.jpg '%}" alt="Lunch">
                <span>Mutton Biryani</span>
              </div>
            </a>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
            <a href="#">
              <div class="category-tile" id="d6">
                <img width="250" height="200" src="{% static '/images/d6.jpg '%}" alt="Lunch">
                <span>paneer_chilli</span>
              </div>
            </a>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
            <a href="#">
              <div class="category-tile" id="d7">
                <img width="250" height="200" src="{% static '/images/d7.jpg '%}" alt="Lunch">
                <span>Hakka Noodles</span>
              </div>
            </a>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
            <a href="#">
              <div class="category-tile" id="d8">
                <img width="250" height="200" src="{% static '/images/d8.jpg '%}" alt="Lunch">
                <span>Mixed Fried Rice</span>
              </div>
            </a>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
            <a href="#">
              <div class="category-tile" id="d9">
                <img width="250" height="200" src="{% static '/images/d9.jpg '%}" alt="Lunch">
                <span>Lacchaa Parantha</span>
              </div>
            </a>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
            <a href="#">
              <div class="category-tile" id="d10">
                <img width="250" height="200" src="{% static '/images/d10.jpg '%}" alt="Lunch">
                <span>Chicken Manchurian</span>
              </div>
            </a>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
            <a href="#">
              <div class="category-tile" id="d11">
                <img width="250" height="200" src="{% static '/images/d11.jpg '%}" alt="Lunch">
                <span>Momos</span>
              </div>
            </a>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
            <a href="#">
              <div class="category-tile" id="d12">
                <img width="250" height="200" src="{% static '/images/d12.jpeg '%}" alt="Lunch">
                <span>macarones</span>
              </div>
            </a>
          </div>
        </section>
        <br>
        <h2 class="text-center">Specials</h2><br>
        <section class="row" id="specials">
            <div class="col-md-6 col-sm-6 col-xs-12 col-xxs-12">
                <a href="#">
                  <div class="spl-tile" id="special1">
                    <img width="500" height="350" src="{% static '/images/spl1.jpg '%}" alt="Lunch">
                    <span>Special Veg Thali</span>
                  </div>
                </a>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 col-xxs-12">
                <a href="#">
                  <div class="spl-tile" id="special2">
                    <img width="500" height="350" src="{% static '/images/spl2.jpg '%}" alt="Lunch">
                    <span>Special Non Veg Thali</span>
                  </div>
                </a>
              </div>
        </section>
      </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-4 offset-1 col-sm-2">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="/home/">Home</a></li>
                        <li><a href="/about/">About</a></li>
                        <li><a href="/menu/">Menu</a></li>
                        <li><a href="/contact/">Contact</a></li>
                    </ul>
                </div>

                <div class="col-7 col-sm-5" id="address">
                    <h5>Our Address</h5>
                    <address>
                        Jay Ambey Apartments<br>
                        Srinagar, Panchpota, Garia<br>
                        Kolkata, West Bengal, India<br> 
                        <a href="tel:987654321"><i class="fa fa-phone fa-lg"></i>: +91 987654321<br></a>
		                <i class="fa fa-fax fa-lg"></i>: +91 987654321<br>
		                <i class="fa fa-envelope fa-lg"></i>: <a href="mailto:confusion@food.net">confusion@food.net</a>
                    </address>
                </div>

                <div class="col-12 col-sm-4 align-self-center">
                    <div class="text-center" id="testimonials">
                        <p>"The best Indian restaurant I've been to! And that's saying a lot, since I've been to many!"</p>
                        <p>"Amazing food! Great service! Couldn't ask for more! I'll be back again and again!"</p>
                    </div>
                </div>

            </div>
            <div class="row justify-content-center">             
                <div class="col-auto">
                    <p>© Copyright 2020 Family Indian Restaurant</p>
                </div>
           </div>
        </div>
        </div>
    </footer>

    <!-- jQuery (Bootstrap JS plugins depend on it) -->
  <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>